
body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
h1{
    color:turquoise;
}
form input, form button{
    font-size: 1rem;
    border: 2px solid darkgray;
    border-radius: 5px;
    padding: 5px;
}
form button:hover{
    font-size: 1rem;
    border: 2px solid black;
    background-color: black;
    font-weight: 800;
    color:white;
    border-radius: 5px;
    padding: 5px;
}

.unchecked{
    color:darkviolet;
}
.checked{
    color:coral;
}

.unchecked::marker {
    
    content: "[ ] ";
    font-weight: 800;
    font-size: 1.2rem;
    
}
.checked::marker {
    content: "[x] ";
    font-weight: 800;
    font-size: 1.2rem;
    
}